{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-block-no-shorthand-property-overrides": null,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["user-select"]
      }
    ]
  },
  "ignoreFiles": [
    "**/font-awesome.css",
    "**/normalize.css"
  ]
}
