{{define "device-list"}}
{{if eq (len .main.devices) 0}}
<div class="clearfix no-devices">No devices registered</div>
{{else}}
<div class="clearfix devices-list">
    {{if .main.usePages}}
    <div class="device-pager device-pager-top">
        <span class="pager-direction">
        {{if ne .main.page 1}}
        {{if .main.adminManage}}
        <a href="/admin/manage/user/{{.main.user.Username}}?page={{sub1 .main.page}}">< Prev</a>
        {{else}}
        <a href="/manage/?page={{sub1 .main.page}}">< Prev</a>
        {{end}}
        {{end}}
        </span>

        <span class="pager-start-end">{{.main.pageStart}} - {{.main.pageEnd}}</span>

        <span class="pager-direction">
        {{if .main.hasNextPage}}
        {{if .main.adminManage}}
        <a href="/admin/manage/user/{{.main.user.Username}}?page={{plus1 .main.page}}">Next ></a>
        {{else}}
        <a href="/manage?page={{plus1 .main.page}}">Next ></a>
        {{end}}
        {{end}}
        </span>
    </div>
    {{end}}

    <table>
        <thead>
            <tr>
                <th>
                    <label class="device-check">
                        <input type="checkbox" id="select-all-checkbox">
                        <span class="checkmark device-checkbox" id="select-all"></span>
                    </label>
                </th>
                <th>MAC Address</th>
                <th>Description</th>
                <th>Last Seen</th>
                <th>Registered</th>
            </tr>
        </thead>
        <tbody>
        {{range .main.devices}}
            <tr class="{{if .IsBlacklisted}}blacklisted{{end}}">
                <td class="cell-check-select">
                    <label class="device-check">
                        <input type="checkbox" class="device-checkbox" value="{{.MAC}}">
                        <span class="checkmark device-checkbox-target"></span>
                    </label>
                </td>
                <td>
                    <span id="device-{{.ID}}-mac">
                    {{if $.linkMac}}
                    <a href="/admin/manage/device/{{urlquery .MAC}}">{{.MAC}}</a>
                    {{else}}
                    {{.MAC}}
                    {{end}}
                    </span>
                </td>
                <td>
                    <span id="device-{{.ID}}-desc">{{.Description}}</span>
                    <a class="fa fa-pencil edit-dev-desc" tabindex="0" aria-role="button" data-device="{{.ID}}" href="#" title="Rename"></a>
                </td>
                <td>{{.LastSeen.Format "2006-01-02 15:04"}}</td>
                <td>{{.DateRegistered.Format "2006-01-02 15:04"}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>

    {{if .main.usePages}}
    <div class="device-pager device-pager-bottom">
        <span class="pager-direction">
        {{if ne .main.page 1}}
        {{if .main.adminManage}}
        <a href="/admin/manage/user/{{.main.user.Username}}?page={{sub1 .main.page}}">< Prev</a>
        {{else}}
        <a href="/manage/?page={{sub1 .main.page}}">< Prev</a>
        {{end}}
        {{end}}
        </span>

        <span class="pager-start-end">{{.main.pageStart}} - {{.main.pageEnd}}</span>

        <span class="pager-direction">
        {{if .main.hasNextPage}}
        {{if .main.adminManage}}
        <a href="/admin/manage/user/{{.main.user.Username}}?page={{plus1 .main.page}}">Next ></a>
        {{else}}
        <a href="/manage?page={{plus1 .main.page}}">Next ></a>
        {{end}}
        {{end}}
        </span>
    </div>
    {{end}}
</div>
{{end}}
{{end}}
