{{define "device-list-search"}}
{{if eq (len .results) 0}}
{{if eq .query ""}}
<div class="clearfix no-devices">Please enter a search query</div>
{{else}}
<div class="clearfix no-devices">
    No results found.
</div>
{{if eq .searchType "user"}}
<div class="no-devices no-devices-register">
    <a href="/register?manual=1&username={{.query}}" class="btn">Register device for {{.query}}</a>
</div>
{{end}}
{{end}}
{{else}}
<div class="expired-sample-block">
    <div class="expired-sample expired"></div> = Expired IP Lease
    {{if isUsername .query}}
    <br>
    <a href="/register?manual=1&username={{.query}}" class="btn">Register device for {{.query}}</a>
    {{end}}
</div>
<div class="clearfix devices-list">
    <table>
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>Username</th>
                <th>Description</th>
                <th>Last Seen</th>
                <th>Last Address</th>
            </tr>
        </thead>
        <tbody>
        {{range .results}}
            <tr class="{{if .D.IsBlacklisted}}blacklisted{{end}}">
                <td><a href="/admin/manage/device/{{urlquery .D.MAC}}">{{.D.MAC}}</a></td>
                <td>
                    {{if eq .D.Username ""}}
                    <span class="unregistered">UNREGISTERED</span>
                    {{else}}
                    <a href="/admin/manage/user/{{.D.Username}}">{{.D.Username}}</a>
                    {{end}}
                </td>
                <td>{{.D.Description}}</td>
                <td>{{.D.LastSeen.Format "2006-01-02 15:04"}}</td>
                {{with .L}}
                <td class="{{if .IsExpired}}expired{{end}}">{{.IP.String}}</td>
                {{else}}
                <td>N/A</td>
                {{end}}
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}
{{end}}
