{{define "footer"}}
    </div>
    <footer>
        <div class="copyright">
            The guardian of packets
        </div>
    </footer>

    <script type="text/javascript" src="/public/assets/js/jLib.js"></script>
    <script type="text/javascript" src="/public/assets/js/common.js"></script>
    <script type="text/javascript" src="/public/assets/js/modal.js"></script>
    {{range .js}}
    {{if ne . ""}}
    <script type="text/javascript" src="/public/assets/js/{{.}}.js"></script>
    {{end}}
    {{end}}
    </body>
</html>
{{end}}
