{{define "footer"}}
    </div>
    <footer>
        <div class="copyright">
            {{.main.config.Core.SiteFooterText}}
        </div>
    </footer>

    {{range .js}}
    {{if ne . ""}}
    <script type="text/javascript" src="/public/dist/js/{{.}}.min.js"></script>
    {{end}}
    {{end}}
    </body>
</html>
{{end}}
