{{define "footer"}}
    </div>
    <footer>
        <div class="copyright">
            {{.config.Core.SiteFooterText}}
        </div>
    </footer>

    <script type="text/javascript" src="/public/dist/js/flash-messages.min.js?{{.buildTime}}"></script>
    {{block "js" .}}{{end}}
    </body>
</html>
{{end}}

{{define "render-js"}}
{{range .js}}{{if ne . ""}}
<script type="text/javascript" src="/public/dist/js/{{.}}.min.js?{{$.main.buildTime}}"></script>
{{end}}{{end}}
{{end}}
