{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/dist/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/dist/images/favicon.ico" type="image/x-icon">
        <title>
            {{.config.Core.SiteTitle}} -
            {{if ne .config.Core.SiteCompanyName ""}}
            {{.config.Core.SiteCompanyName}} -
            {{end}}
            {{block "pageTitle" .}}{{end}}
        </title>
        <link rel="stylesheet" href="/public/dist/styles/normalize.css">
        <link rel="stylesheet" href="/public/dist/styles/main.css">
        <link rel="stylesheet" href="/public/dist/styles/modals.css">
        <link rel="stylesheet" href="/public/dist/styles/font-awesome.css">
        {{block "layout-css" .}}{{end}}
        {{block "css" .}}{{end}}
    </head>
    <body>
        <header>
            <section class="header-logo-area">
                <div class="logo-wrapper">
                    <a href="/"><img src="/public/dist/images/logo.png"></a>
                </div>
                {{if ne .config.Core.SiteTitle ""}}
                <div class="header-title">
                    <a href="/">{{.config.Core.SiteTitle}}</a>
                </div>
                {{end}}
            </section>

            {{if ne .sessionUser.Username ""}}
            <section class="header-user-profile">
                <span>{{.sessionUser.Username}}</span>
                <a href="/logout" class="btn">Logout</a>
            </section>
            {{end}}
        </header>
        <div class="main">
            {{if ne .flashMessage ""}}
            <div id="flashDiv" class="flash">
                <div id="flashText">{{.flashMessage}}</div>
            </div>
            {{end}}
{{end}}

{{define "render-css"}}
{{range .}}{{if ne . ""}}
<link rel="stylesheet" href="/public/dist/styles/{{.}}.css">
{{end}}{{end}}
{{end}}
