{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/dist/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/dist/images/favicon.ico" type="image/x-icon">
        <title>
            {{.config.Core.SiteTitle}} -
            {{if ne .config.Core.SiteCompanyName ""}}
            {{.config.Core.SiteCompanyName}} -
            {{end}}
            {{block "pageTitle" .}}{{end}}
        </title>
        <link rel="stylesheet" href="/public/dist/styles/normalize.css?{{.buildTime}}">
        <link rel="stylesheet" href="/public/dist/styles/font-awesome.css?{{.buildTime}}">
        <link rel="stylesheet" href="/public/dist/styles/main.css?{{.buildTime}}">
        <link rel="stylesheet" href="/public/dist/styles/modals.css?{{.buildTime}}">
        {{block "layout-css" .}}{{end}}
        {{block "css" .}}{{end}}
    </head>
    <body>
        <header>
            <section class="header-logo-area">
                <a href="/"><img src="/public/dist/images/logo.png"></a>
                {{if ne .config.Core.SiteTitle ""}}
                <a href="/" class="header-title">{{.config.Core.SiteTitle}}</a>
                {{end}}
            </section>

            {{if ne .sessionUser.UIGroup "default"}}
            <section class="header-search-box">
                <form method="GET" action="/admin/search">
                    <input type="text" name="q" value="{{.query}}" placeholder="Search">
                </form>
            </section>
            {{end}}

            {{if ne .sessionUser.Username ""}}
            <section class="header-user-profile">
                <span>{{.sessionUser.Username}}</span>
                <a href="/logout" class="btn">Logout</a>
            </section>
            {{end}}
        </header>
        <div class="main">
{{end}}

{{define "render-css"}}
{{range .css}}{{if ne . ""}}
<link rel="stylesheet" href="/public/dist/styles/{{.}}.css?{{$.main.buildTime}}">
{{end}}{{end}}
{{end}}
