{{define "reg-non-admin-auto"}}
<p>
    <label for="username">Username:</label>
    <input type="text" name="username" autofocus="autofocus">
</p>
<p>
    <label for="password">Password:</label>
    <input type="password" name="password">
</p>
{{end}}
