{{define "reg-admin-man"}}
<p>
    <label for="username">Username:</label>
    <input type="text" name="username" value="{{.Username}}">
</p>
<p>
    <label for="mac-address">MAC Address:</label>
    <input type="text" name="mac-address" autofocus="autofocus">
</p>
{{end}}
