{{define "pageTitle"}}Admin - Device Management{{end}}

{{define "css"}}
{{template "render-css" dict "main" . "css" (list "manage" "manage-device")}}
{{end}}

{{define "js"}}
{{template "render-js" dict "main" . "js" (list "manage-device")}}
{{end}}

{{define "content"}}
<div class="manager">
    <form class="header-metadata">
        <input type="hidden" id="username" value="{{.user.Username}}">
        <div class="user-info">
            <section>
                <span class="text-label">Username:</span>
                {{if eq .device.ID 0}}
                <span class="username unregistered">UNREGISTERED</span>
                {{else}}
                <span class="username">
                    <a href="/admin/manage/user/{{.user.Username}}" class="no-color-link">{{.user.Username}}</a>
                    {{if (userCan .sessionUser "EditUser")}}
                    <a href="/admin/users/{{.user.Username}}" class="no-color-link"><span class="fa fa-pencil edit-property"></span></a>
                    {{end}}
                </span>
                {{if .user.IsBlacklisted}}<span class="blacklist-icon">Blacklisted</span>{{end}}
                {{end}}
            </section>
        </div>
        <div class="controls">
            <section>
            </section>
            <section>
                {{if (userCan .sessionUser "ManageBlacklist")}}
                {{if .device.IsBlacklisted}}
                <button type="button" class="danger-btn" id="unblacklist-btn">Remove From Blacklist</button>
                {{else}}
                <button type="button" class="danger-btn" id="blacklist-btn">Blacklist</button>
                {{end}}
                {{end}}

                {{if ne .device.ID 0}}
                {{if (userCan .sessionUser "EditDevice")}}
                {{if .device.Flagged}}
                <button type="button" class="danger-btn" id="unflag-dev-btn">Unflag</button>
                {{else}}
                <button type="button" class="danger-btn" id="flag-dev-btn">Flag</button>
                {{end}}
                {{end}}

                {{if (userCan .sessionUser "ReassignDevice")}}
                <button type="button" id="reassign-btn" class="danger-btn">Reassign</button>
                {{end}}

                {{if (userCan .sessionUser "DeleteDevice")}}
                <button type="button" id="delete-btn" class="danger-btn">Delete</button>
                {{end}}
                {{end}}
            </section>
        </div>
    </form>

    <div class="clearfix device-info">
        {{with .device}}
            <p>
                <span class="label">Blacklisted</span>:
                <span class="data">{{titleBool .IsBlacklisted}}</span>
            </p>
            <p>
                <span class="label">Flagged</span>:
                <span class="data">{{titleBool .Flagged}}</span>
            </p>
            <p>
                <span class="label">MAC Address</span>:
                <span class="data" id="mac-address">{{.MAC}}</span>
            </p>
            {{if ne .ID 0}}
            <p>
                <span class="label">Description</span>:
                <span class="data" id="device-desc">{{.Description}}</span> <i class="fa fa-pencil edit-property" id="edit-dev-desc" aria-hidden="true"></i>
            </p>
            <p>
                <span class="label">Registered From</span>:
                <span class="data">{{.RegisteredFrom.String}}</span>
            </p>
            <p>
                <span class="label">Platform</span>:
                {{if eq .Platform ""}}
                <span class="data">N/A</span>
                {{else}}
                <span class="data">{{.Platform}}</span>
                {{end}}
            </p>
            <p>
                <span class="label">Expires</span>:
                <span id="edit-expire-controls">
                    <select id="dev-exp-sel">
                        <option value="global">Global</option>
                        <option value="never">Never</option>
                        <option value="rolling">Rolling</option>
                        <option value="specific">Specific</option>
                    </select>
                    <input type="text" id="dev-exp-val" value="">
                </span>
                {{if eq .Expires.Unix 0}}
                <span class="data" id="device-expiration">Never</span>
                {{else if eq .Expires.Unix 1}}
                <span class="data" id="device-expiration">Rolling</span>
                {{else}}
                <span class="data" id="device-expiration">{{.Expires.Format "2006-01-02 15:04"}}</span>
                {{end}}
                <i class="fa fa-pencil edit-property" id="edit-dev-expiration" aria-hidden="true"></i>
                <span id="confirmation-icons">
                    <i class="fa fa-check edit-property" id="dev-expiration-ok" aria-hidden="true"></i>
                    <i class="fa fa-times edit-property" id="dev-expiration-cancel" aria-hidden="true"></i>
                </span>
            </p>
            <p>
                <span class="label">Registered</span>:
                <span class="data">{{.DateRegistered.Format "2006-01-02 15:04"}}</span>
            </p>
            <p>
                <span class="label">User Agent</span>:
                <span class="data">{{.UserAgent}}</span>
            </p>
            <p>
                <span class="label">Last Seen</span>:
                <span class="data">{{.LastSeen.Format "2006-01-02 15:04"}}</span>
            </p>
            {{end}}
            <p>
                <span class="label">Current Lease</span>:
                {{with .GetCurrentLease}}
                <span class="data">{{.IP.String}}</span>
                {{else}}
                <span class="data">N/A</span>
                {{end}}
            </p>
            <p>
                <span class="label">Notes</span>:
                <span class="data" id="notes-text">{{.Notes}}</span>

                <i class="fa fa-pencil edit-property" id="edit-notes" aria-hidden="true"></i>

                <span id="notes-confirmation-icons">
                    <i class="fa fa-check edit-property" id="notes-edit-ok" aria-hidden="true"></i>
                    <i class="fa fa-times edit-property" id="notes-edit-cancel" aria-hidden="true"></i>
                </span>

                <span class="data" id="notes-text-edit">
                    <br>
                    <textarea cols="40" rows="7" id="notes-textarea">{{.Notes}}</textarea>
                </span>
            </p>
            <br>
            <h3>Previous Leases</h3>
            <div class="leases">
                {{$n := len .Leases}}
                {{range $i, $l := .Leases}}
                <div class="lease">
                    <p>
                        <span class="label">IP Address</span>:
                        <span class="data">{{$l.IP.String}}</span>
                    </p>
                    <p>
                        <span class="label">Network</span>:
                        <span class="data">{{$l.Network}}</span>
                    </p>
                    <p>
                        <span class="label">Start</span>:
                        <span class="data">{{$l.Start.Format "2006-01-02 15:04"}}</span>
                    </p>
                    <p>
                        <span class="label">End</span>:
                        <span class="data">{{$l.End.Format "2006-01-02 15:04"}}</span>
                    </p>
                </div>
                {{if ne (plus1 $i) $n}}
                <hr class="lease-separator">
                {{end}}
                {{end}}
            </div>
        {{end}}
    </div>
</div>
{{end}}
