{{define "pageTitle"}}Admin - Reports{{end}}

{{define "css"}}
{{template "render-css" (list "admin-reports")}}
{{end}}

{{define "content"}}
<div class="admin-dash">
    <h2>Reports</h2>
    <div class="report-list">
        <h3>Choose a Report:</h3>
        {{range .reports}}
            <div class="report">
                <a href="/admin/reports/{{.Shortname}}">{{.Fullname}}</a>
            </div>
        {{end}}
    </div>
</div>
{{end}}
