{{define "pageTitle"}}Report - Leases{{end}}

{{define "css"}}
{{template "render-css" (list "reports/leases")}}
{{end}}

{{define "content"}}
<div class="content">
    <h2>Leases in network {{.network}}</h2>
    <div class="info">
        <p>
            <span class="label">Registered:</span> {{if .registered}}Yes{{else}}No{{end}}
        </p>
        <p>
            <span class="label">Leases:</span> {{.leaseCnt}}
        </p>
    </div>

    <div class="device-pager device-pager-top">
        <span class="pager-direction">
        {{if ne .page 1}}
        <a href="/admin/reports/lease-stats?network={{.network}}&{{if .registered}}registered&{{end}}&page={{sub1 .page}}">&lt; Prev</a>
        {{end}}
        </span>

        <span class="pager-start-end">{{.pageStart}} - {{.pageEnd}}</span>

        <span class="pager-direction">
        {{if .hasNextPage}}
        <a href="/admin/reports/lease-stats?network={{.network}}&{{if .registered}}registered&{{end}}&page={{plus1 .page}}">Next &gt;</a>
        {{end}}
        </span>
    </div>

    <table class="lease-list">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>MAC Address</th>
                <th>Start</th>
                <th>End</th>
                <th>Hostname</th>
                <th>Abandoned</th>
            </tr>
        </thead>

        <tbody>
            {{range .leases}}
            <tr>
                <td>{{.IP.String}}</td>
                <td><a href="/admin/manage/device/{{urlquery .MAC.String}}">{{.MAC.String}}</a></td>
                <td>{{.Start.Format "2006-01-02 15:04"}}</td>
                <td>{{.End.Format "2006-01-02 15:04"}}</td>
                <td>{{.Hostname}}</td>
                <td>{{if .IsAbandoned}}Yes{{else}}No{{end}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
