{{define "pageTitle"}}Cannot Register Device{{end}}

{{define "content"}}
<h2 style="text-align: center;">
    This device cannot be registered on the network. Please contact the IT Help Desk.
</h2>
{{end}}
