{{define "pageTitle"}}Device Management{{end}}

{{define "css"}}
{{template "render-css" dict "main" . "css" (list "device-list" "manage")}}
{{end}}

{{define "js"}}
{{template "render-js" dict "main" . "js" (list "manage")}}
{{end}}

{{define "content"}}
<div class="manager">
    <form class="header-metadata-user">
        <input type="hidden" name="username" value="{{.currentUser}}">

        {{if gt (len .delegated) 0}}
        Account:
        <select name="delegated-accounts">
            <option value="{{.user.Username}}" {{if eq .user.Username .currentUser}}selected{{end}}>{{.user.Username}}</option>
            {{range $key, $value := .delegated}}
            <option value="{{$key}}" {{if eq $.currentUser $key}}selected{{end}}>{{$key}}</option>
            {{end}}
        </select>
        {{end}}

        <div class="controls">
            <section>
                {{if .showAddBtn}}
                <a class="btn ok-btn" href="/register?manual=1&username={{.currentUser}}">Add Device</a>
                {{end}}
                {{if and .canDeleteDevice (gt (len .devices) 0)}}
                <button type="button" name="del-selected-btn" class="danger-btn">Delete</button>
                {{end}}
            </section>
        </div>
    </form>

    {{template "device-list" dict "main" $}}
</div>
{{end}}
