{{define "base"}}
{{template "header" .}}
<div id="flashDiv" class="flash">
    <div id="flash-text" data-flashtype="{{.flashMessageType}}">{{.flashMessage}}</div>
</div>
{{template "content" .}}
{{template "footer" .}}
{{end}}
