{{define "admin-manage"}}
{{template "header" dict "css" (list "manage") "main" . "pageTitle" "Admin Device Management"}}
{{/* All the .IsAdmin checks are because this template is used for both Helpdesk and Admin users */}}
{{/* Helpdesk users are read-only */}}
<div class="manager">
    <form>
        <input type="hidden" name="username" value="{{.Username}}">
        <div class="info">
            <span class="text-label">Username:</span>
            <span class="username">{{.user.Username}}</span>
            {{if .user.IsBlacklisted}}<span class="blacklist-icon">Blacklisted</span>{{end}}
        </div>
        <div class="controls">
            {{if .sessionUser.IsAdmin}}
                <button type="button" name="add-device-btn" data-admin="1">Add New Device</button>
                {{if gt (len .devices) 0}}
                <button type="button" name="del-selected-btn">Delete Selected</button>
                <button type="button" name="del-all-btn">Delete All</button>
                {{end}}
            {{end}}
            <button type="button" name="admin-btn" class="admin-btn">Admin Dashboard</button>
            <button type="button" name="logout-btn">Logout</button>

            {{if .sessionUser.IsAdmin}}
                <div class="admin-controls">
                   <button type="button" name="black-user-btn" data-blacklisted="{{.IsBlacklisted}}" class="admin-btn">Blacklist Username</button>
                </div>
                {{if gt (len .devices) 0}}
                <div class="admin-controls">
                   <button type="button" name="black-all-btn" class="admin-btn">Blacklist All</button>
                   <button type="button" name="unblack-all-btn" class="admin-btn">Unblacklist All</button>
                </div>
                <div class="admin-controls">
                   <button type="button" name="black-sel-btn" class="admin-btn">Blacklist Selected</button>
                   <button type="button" name="unblack-sel-btn" class="admin-btn">Unblacklist Selected</button>
                </div>
                {{end}}
            {{end}}
        </div>
        {{if eq (len .devices) 0}}
        <div class="no-devices">No devices registered</div>
        {{else}}
        <table>
            <tr>
                {{if $.sessionUser.IsAdmin}}<th>&nbsp;</th>{{end}}
                <th>MAC Address</th>
                <th class="ua">User Agent</th>
                <th>Platform</th>
                <th>Date Registered</th>
                <th>Registered From</th>
            </tr>
            {{range .devices}}
            <tr>
                {{if $.sessionUser.IsAdmin}}<td><input type="checkbox" value="{{.ID}}" class="device-select"></td>{{end}}
                <td>{{if .Blacklisted}}<span class="blacklist-icon">&cross;</span>{{end}}{{.MAC}}</td>
                <td class="ua">{{.UserAgent}}</td>
                <td>{{.Platform}}</td>
                <td>{{.DateRegistered.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.RegisteredFrom}}</td>
            </tr>
            {{end}}
        </table>
        {{end}}
    </form>

    {{if gt (len .devices) 0}}
    <p>
        <span class="blacklist-icon">&cross;</span> = Blacklisted MAC address
    </p>
    {{end}}
</div>
{{template "footer" dict "js" (list "manage")}}
{{end}}
