{{define "admin-manage"}}
{{template "header" dict "css" (list "manage") "main" . "pageTitle" "Admin - Device Management"}}
<div class="manager">
    <form>
        <input type="hidden" name="username" value="{{.user.Username}}">
        <div class="user-info">
            <section>
                <span class="text-label">Username:</span>
                <span class="username">{{.user.Username}}</span>
                {{if .user.IsBlacklisted}}<span class="blacklist-icon">Blacklisted</span>{{end}}
            </section>
            <section>
                <span class="text-label"># of Devices:</span>
                <span class="username">{{len .devices}}</span>
            </section>
        </div>
        <div class="controls">
            <section>
                {{if .canCreateDevice}}
                <button type="button" name="add-device-btn" data-admin="1">Add New Device</button>
                {{end}}
                {{if and .canDeleteDevice (gt (len .devices) 0)}}
                <button type="button" name="del-selected-btn">Delete Selected</button>
                <button type="button" name="del-all-btn">Delete All</button>
                {{end}}
                <a href="/logout" class="btn">Logout</a>
            </section>
            <section>
                {{if .canManageBlacklist}}
                <select name="blacklist-sel" data-blacklisted="{{.user.IsBlacklisted}}" required>
                    <option  class="placeholder" selected disabled value="">Blacklist Options</option>
                    <option value="username" name="black-user-option">Add Username</option>
                    <option value="black-all">Add All Devices</option>
                    <option value="unblack-all">Remove All Devices</option>
                    <option value="black-sel">Add Selected Devices</option>
                    <option value="unblack-sel">Remove Selected Devices</option>
                </select>
                {{end}}
                {{if .canReassignDevice}}
                <button type="button" name="reassign-selected-btn" class="admin-btn">Reassign Selected</button>
                {{end}}
                <a href="/admin" class="btn admin-btn">Admin Dashboard</a>
            </section>
        </div>
    </form>

    {{template "device-list" $}}
</div>
{{template "footer" dict "js" (list "manage" "manage-admin")}}
{{end}}
