{{define "admin-dash"}}
{{template "header" dict "css" (list "admin-dash") "main" . "pageTitle" "Admin Dashboard"}}
<div class="admin-dash">
    <h2>Administration Dashboard</h2>
    <div class="controls">
        {{if .sessionUser.IsAdmin}}
        <a href="/admin/users" class="btn">Manage Users</a>
        {{end}}
        <a href="/logout" class="btn">Logout</a>

        <div class="search-box">
            <form method="GET" action="/admin/search">
                <input type="text" name="q" placeholder="Search" autofocus="autofocus">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>

    <div class="dash-status">
        <h2>System Statistics</h2>
        <h3>Registrations</h3>
        <div class="stat-block">
            <h3 class="hlabel">Total Registered Devices:</h3> {{.deviceTotal}}<br>
            <h3 class="hlabel">Average Devices per User:</h3> {{.deviceAvg}}
        </div>

        {{if gt (len .leaseStats) 0}}
        <h3>DHCP Lease Stats</h3>
        <div class="stat-block">
            {{range $netName, $stat := .leaseStats}}
            <div>
                <h3>{{$netName}}</h3>
                <div class="stat-block">
                    <h4 class="hlabel">Registered:</h4> {{$stat.Registered}}<br>
                    <h4 class="hlabel">Unregistered:</h4> {{$stat.Unregistered}}
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
    </div>
</div>
{{template "footer"}}
{{end}}
