{{define "admin-reports"}}
{{template "header" dict "css" (list "admin-reports") "main" . "pageTitle" "Admin Reports"}}
<div class="admin-dash">
    <h2>Reports</h2>
    <div class="controls">
        <a href="/admin" class="btn">Dashboard</a>
        <a href="/logout" class="btn">Logout</a>
    </div>

    <div class="report-list">
        <h3>Choose a Report:</h3>
        {{range .reports}}
            <div class="report">
                <a href="/admin/reports/{{.Shortname}}">{{.Fullname}}</a>
            </div>
        {{end}}
    </div>
</div>
{{template "footer" dict "main" $}}
{{end}}
