{{define "admin-dash"}}
{{template "header" dict "css" (list "admin-dash") "main" . "pageTitle" "Admin Dashboard"}}
<div class="admin-dash">
    <h2>Administration Dashboard</h2>
    <div class="controls">
        <nav>
            {{if .canViewUsers}}
            <a href="/admin/users" class="btn">Manage Users</a>
            {{end}}
            <a href="/admin/reports" class="btn">Reports</a>
            <a href="/logout" class="btn">Logout</a>
        </nav>

        <div class="search-box">
            <form method="GET" action="/admin/search">
                <input type="text" name="q" placeholder="Search" autofocus="autofocus">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="dash-status">
        <h2>System Statistics</h2>
        <h3>Registrations</h3>
        <div class="stat-block">
            <h3 class="hlabel">Total Registered Devices:</h3> {{.deviceTotal}}
        </div>

        {{if gt (len .leaseStats) 0}}
        <h3>DHCP Lease Stats</h3>
        <div class="stat-block">
            {{range $netName, $stat := .leaseStats}}
            <div>
                <h3>{{$stat.Title}}</h3>
                <div class="stat-block">
                    <h4 class="hlabel">Registered:</h4> <a href="/admin/reports/lease-stats?network={{$netName}}&registered">{{$stat.Registered}}</a><br>
                    <h4 class="hlabel">Unregistered:</h4> <a href="/admin/reports/lease-stats?network={{$netName}}">{{$stat.Unregistered}}</a>
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
    </div>
</div>
{{template "footer" dict "main" $}}
{{end}}
