{{define "report-blacklisted-devices"}}
{{template "header" dict "css" (list "reports/blk-user") "main" . "pageTitle" "Report - Blacklisted Users"}}
<div class="main-content">
    <div class="controls">
        <a href="/admin" class="btn">Dashboard</a>
        <a href="/admin/reports" class="btn">Reports</a>
        <a href="/logout" class="btn">Logout</a>
    </div>

    <div class="report">
        <h2>Report - Blacklisted Devices</h2>
        <table>
            <tr>
                <th>MAC Address</th>
                <th>Username</th>
            </tr>
            {{if eq (len .devices) 0}}
            <tr>
                <td>No devices blacklisted</td>
                <td>&nbsp;</td>
            </tr>
            {{else}}
            {{range .devices}}
            <tr>
                <td><a href="/admin/manage/device/{{urlquery .MAC.String}}">{{.MAC.String}}</a></td>
                <td><a href="/admin/manage/user/{{.Username}}">{{.Username}}</a></td>
            </tr>
            {{end}}
            {{end}}
        </table>
    </div>
</div>
{{template "footer"}}
{{end}}
