{{define "reports-leases"}}
{{template "header" dict "css" (list "reports/leases") "main" . "pageTitle" "Admin - Leases"}}
<div class="content">
    <h2>Leases in network {{.network}}</h2>
    <div class="controls">
        <a href="/admin" class="btn">Dashboard</a>
        <a href="/logout" class="btn">Logout</a>
    </div>
    <div class="info">
        <p>
            <span class="label">Registered</span>
            {{if .registered}}Yes{{else}}No{{end}}
        </p>
        <p>
            <span class="label">Leases</span>
            {{len .leases}}
        </p>
    </div>

    <div class="lease-list">
        {{range .leases}}
        <div class="lease">
            <p>
                <span class="label">IP Address</span>
                <span class="data">{{.IP.String}}</span>
            </p>
            <p>
                <span class="label">MAC Address</span>
                <span class="data"><a href="/admin/manage/device/{{urlquery .MAC.String}}">{{.MAC.String}}</a></span>
            </p>
            <p>
                <span class="label">Start</span>
                <span class="data">{{.Start.Format "2006-01-02 15:04"}}</span>
            </p>
            <p>
                <span class="label">End</span>
                <span class="data">{{.End.Format "2006-01-02 15:04"}}</span>
            </p>
            <p>
                <span class="label">Hostname</span>
                <span class="data">{{.Hostname}}</span>
            </p>
            <p>
                <span class="label">Abandoned</span>
                {{if .IsAbandoned}}
                <span class="data">Yes</span>
                {{else}}
                <span class="data">No</span>
                {{end}}
            </p>
        </div>
        {{end}}
    </div>
</div>
{{template "footer"}}
{{end}}
