.admin-dash {
    width: 60%;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
}

.search-box {
    float: right;
}

.dash-status {
    margin-top: 20px;
    background-color: lightgray;
    min-height: 300px;
}
