body {
    min-width: 600px;
}

h2 {
    margin-top: 0;
}

.controls {
    margin-left: 5px;
}

.search-box {
    margin-top: 10px;
    width: 100%;
}

.search-box input {
    display: block;
    width: 98%;
    margin-bottom: 5px;
    max-width: 450px;
}

button {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

.no-devices {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

.text-label {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid black;
    padding: 10px;
}

table tr:nth-child(2n) {
    background-color: #CACACA;
}

.blacklist-icon {
    margin-right: 2px;
    color: red;
    font-weight: bold;
}

.not-important {
    display: none;
}

@media (min-width: 850px) {
    .admin-search {
        width: 75%;
        margin: 0 auto;
    }

    table {
        margin: 0 auto;
    }

    .search-box {
        float: right;
        margin-top: 0;
        width: auto;
    }

    .search-box input {
        display: inline;
        width: auto;
        margin-bottom: 0;
    }
}

@media (min-width: 1000px) {
    .not-important {
        display: table-cell;
    }
}
