h2 {
    margin-top: 0;
}

.userLimit {
    color: blue;
    font-size: 1.2em;
}

.controls {
    margin-left: 5px;
}

.new-user {
    margin-top: 10px;
    width: 100%;
}

.new-user input {
    display: block;
    width: 98%;
    margin-bottom: 5px;
    max-width: 450px;
}

button {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid black;
    padding: 10px;
}

table tr:nth-child(2n) {
    background-color: #CACACA;
}

fieldset {
    border: none;
}

@media (min-width: 700px) {
    .admin-users, .admin-user {
        width: 70%;
        margin: 0 auto;
    }
}

label, .label {
    font-weight: bold;
}

@media (min-width: 850px) {
    table {
        margin: 20px auto;
    }

    .new-user {
        float: right;
        margin-top: 0;
        width: auto;
    }

    .new-user input {
        display: inline;
        width: auto;
        margin-bottom: 0;
    }
}
