.controls {
    margin-left: 5px;
}

.label {
    font-weight: bold;
}

.label::after {
    content: ":";
}

.lease-list {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.lease {
    min-width: 25%;
    display: inline-block;
    background-color: #8FBC8F;
    padding: .5em;
    margin: 1em;
    max-width: 15em;
}

@media (min-width: 850px) {
    .content {
        width: 80%;
        margin: 0 auto;
    }
}
