#login-btn {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}


.login-box input {
    color: black;
    font-size: 1.25em;
    width: 100%;
}

fieldset {
    border: none;
    margin: 10px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

@media (min-width: 600px) and (min-height: 430px) {
    body {
        background-color: #EDEDED;
        background: radial-gradient(circle, #FFFFFF, #EDEDED);
        color: white;
    }

    .login-box {
        position: absolute;
        width: 550px;
        height: 230px;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -290px;

        border-radius: 15px;
        background-color: #303030;
        background: linear-gradient(to bottom, #454545, #303030);
    }

    fieldset {
        width: 400px;
    }
}
