html, body {
    height: 100%;
}

body {
    color: black;
    background-color: #EDEDED;
    background: radial-gradient(circle, #FFFFFF, #EDEDED);
}

header {
    padding-bottom: 1em;
    background-color: #303030;
    background: linear-gradient(to bottom, #454545, #303030);
}

header .header-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-left: 5%;
    margin-top: 10px;
}

header a {
    color: white;
    text-decoration: none;
}

header .logo-wrapper {
    display: inline-block;
    height: 100px;
    margin-left: 5%;
    /*background-color: white;*/
}

header img {
    padding: 10px;
    height: 80px;
    vertical-align: middle;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

.flash {
    height: 40px;
    font-size: 25px;
    /* display: block is for browsers that don't support flex */
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#flashText {
    text-align: center;
}

.flashSuccess {
    background-color: #72F786;
    color: black;
}

.flashFailure {
    background-color: #EC7A7A;
    color: white;
}

.btn {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15em;
}

.main {
    min-height: calc(100% - 220px);
}

.main:after {
    content: "";
    display: block;
}

footer, .main:after {
    height: 40px;
}

footer {
    background-color: #303030;
}

footer .copyright {
    padding-top: 12px;
    padding-left: 20px;
    color: white;
}

@media (min-width: 900px) {
    header {
        position: relative;
        height: 100px;
        padding-bottom: 0;
    }

    header .header-title {
        display: inline-block;
        font-size: 2em;
        font-weight: bold;
        color: white;
        vertical-align: middle;
        margin-left: 2%;
    }

    header .logo-wrapper {
        height: 100%;
    }

    .main {
        min-height: calc(100% - 140px);
    }
}
