.text-label {
    font-weight: bold;
}

.info {
    font-size: 1.2em;
    margin-left: 10px;
}

.controls {
    margin: 0 10px 10px 10px;
}

.admin-controls {
    margin-top: 10px;
    text-align: left;
}

.no-devices {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

.truncate {
    max-width: 15em;
}

button {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

.admin-btn {
    background-color: #FF3131;
    background: linear-gradient(to bottom, #FF3131, #EA2F2F);
}

table {
    border-collapse: collapse;
    margin: 0 10px;
}

table td, table th {
    border: 1px solid black;
    padding: 10px;
}

table tr:nth-child(2n) {
    background-color: #CACACA;
}

.blacklist-icon {
    margin-right: 2px;
    color: red;
    font-weight: bold;
}

select {
    font-weight: bold;
    padding: 4px 10px;
    color: white;
    border: 0;
    background-color: #FF3131;
    background: linear-gradient(to bottom, #FF3131, #EA2F2F);
}

select:nth-child(1n) {
    background-color: #0083A8;
}

select > .placeholder {
  display: none;
}

.not-important {
    display: none;
}

@media (min-width: 700px) {
    .not-important {
        display: table-cell;
    }

    .controls {
        text-align: right;
    }
}

@media (min-width: 800px) {
    .manager {
        margin: 0 15px;
    }

    .controls {
        margin-right: 0;
    }

    table {
        margin: 10px auto;
    }
}
