.text-label {
    font-weight: bold;
}

.no-devices {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

button {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

.admin-btn {
    background-color: #FF3131;
    background: linear-gradient(to bottom, #FF3131, #EA2F2F);
}

.blacklist-icon {
    margin-right: 2px;
    color: red;
    font-weight: bold;
}

select {
    font-weight: bold;
    padding: 4px 10px;
    color: white;
    border: 0;
    background-color: #FF3131;
    background: linear-gradient(to bottom, #FF3131, #EA2F2F);
}

select:nth-child(1n) {
    background-color: #0083A8;
}

select > .placeholder {
  display: none;
}

.user-info {
    font-size: 1.2em;
}

.manager {
    margin: 0 10px;
}

.controls {
    margin-bottom: 10px;
    display: inline-block;
}

.controls section {
    margin-top: 5px;
}

@media (min-width: 875px) {
    .user-info {
        margin-left: 10px;
        float: left;
    }

    .controls {
        text-align: right;
        float: right;
        margin-right: 0;
        margin-left: 0;
    }

    .manager {
        margin: 0 15px;
    }
}
