.text-label {
    font-weight: bold;
}

.user-info {
    font-size: 1.2em;
    margin-left: 10px;
    float: left;
}

.controls {
    margin: 0 10px 10px 10px;
    display: inline-block;
    float: right;
}

.controls section {
    margin-top: 5px;
}

.no-devices {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
}

button {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

.admin-btn {
    background-color: #FF3131;
    background: linear-gradient(to bottom, #FF3131, #EA2F2F);
}

.blacklist-icon {
    margin-right: 2px;
    color: red;
    font-weight: bold;
}

select {
    font-weight: bold;
    padding: 4px 10px;
    color: white;
    border: 0;
    background-color: #FF3131;
    background: linear-gradient(to bottom, #FF3131, #EA2F2F);
}

select:nth-child(1n) {
    background-color: #0083A8;
}

select > .placeholder {
  display: none;
}

.devices-list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.device-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6em;
    background-color: #8FBC8F;
    text-align: center;
    border-bottom: .1em solid black;
}

.device-header:hover {
    cursor: pointer;
}

.device-info-container {
}

.device-body {
    display: none;
}

.device-info {
    display: inline-block;
    text-align: center;
}

.device-info-label {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: .5em;
}

.device-info-text {
    
}

.device-checkbox {
    width: 2em;
    height: 2em;
}

.device-check-select {
}

/* .collapsable {
    display: none;
} */

@media (min-width: 700px) {
/*     .collapsable {
        display: table-cell;
    } */

    .controls {
        text-align: right;
    }
}

@media (min-width: 800px) {
    .manager {
        margin: 0 15px;
    }

    .controls {
        margin-right: 0;
    }
}
