/** Modals **/

.js-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: .2;
    background-color: #000;
    display: none;
    width: 100%;
    height: 100%;
}

.js-modal {
    position: fixed;;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 500px;
    height: 250px;
}

.js-modal-header {
    background-color: #666;
    font-size:19px;
    padding:10px;
    color:#DDD;
}

.js-modal-body {
    background-color: #333;
    padding:20px;
    font-size: 1.25em;
    color:#FFF;
}

.js-modal-body input {
    margin-top: .5em;
/*     font-size: 1.25em; */
    width: 100%;
    color: black;
}

.js-modal-footer {
    background-color: #666;
    padding:10px;
    text-align:right;
}

.js-modal-footer button {
    margin: 0 .25em;
    font-size: 1.25em;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}