body {
    width: 100%;
}

#register-btn {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border: 0;
    background-color: #0083A8;
    background: linear-gradient(to bottom, #0083A8, #007899);
}

.register-box input {
    color: black;
    font-size: 1.25em;
    width: 100%;
}

fieldset {
    border: none;
    margin: 10px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.instructions {
    font-weight: bold;
    font-size: 1.2em;
}

.reg-policy, .reg-btn, .success-message {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    max-width: 700px;
}

.success-message {
    display: none;
}

@media (min-width: 400px) {
    .register-box input {
        width: 380px;
    }

    fieldset {
        width: 400px;
    }
}

@media handheld {
    .reg-policy, .reg-btn, .success-message {
        padding-left: 5px;
        padding-right: 5px;
    }
}
