{{define "admin-search"}}
{{template "header" dict "css" (list "admin-search") "main" .}}
<div class="admin-search">
    <h2>Administration Search</h2>
    <form method="GET">
        <div class="controls">
            <input type="text" name="q" placeholder="Search" value="{{.Query}}">
            <button type="submit">Search</button>
        </div>
        {{if eq (len .SearchResults) 0}}
        <div class="no-devices">Please enter a search query</div>
        {{else}}
        <table>
            <tr>
                <th>MAC Address</th>
                <th>User</th>
                <th class="ua">User Agent</th>
                <th>Platform</th>
                <th>Date Registered</th>
                <th>Registered From</th>
            </tr>
            {{range .SearchResults}}
            <tr>
                <td>{{.MAC}}</td>
                <td><a href="/admin/user/{{.Username}}">{{.Username}}</a></td>
                <td class="ua">{{.UserAgent}}</td>
                <td>{{.Platform}}</td>
                <td>{{.DateRegistered}}</td>
                <td>{{.RegIP}}</td>
            </tr>
            {{end}}
        </table>
        {{end}}
    </form>
</div>
{{template "footer" dict "js" (list "admin-search")}}
{{end}}
