{{define "admin-dash"}}
{{template "header" dict "css" (list "admin-dash") "main" .}}
<div class="admin-dash">
    <h2>Administration Dashboard</h2>
    <p>
        <a href="/admin/search">Search</a>
        <a href="/admin/users">Manage Users</a>
        <a href="/admin/blacklist">Manage Blacklist</a>
    </p>

    <div class="dash-status">
        This is where some sort of status system is going
    </div>
</div>
{{template "footer"}}
{{end}}
