{{define "custom-error"}}
{{template "header" dict "css" (list "error") "main" . "pageTitle" "Error"}}
<div class="error">
    <h1>{{.title}}</h1>

    <p>
        {{.body}}
    </p>
</div>
{{template "footer"}}
{{end}}
