{{define "login"}}
{{$css := list "login"}}
{{$js := list "login"}}
{{template "header" dict "css" $css}}
<div id="flashDiv" class="flash">
    <div id="flashText">
    </div>
</div>
<div class="login-box">
    <form>
        <fieldset>
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" autofocus="autofocus">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </p>
            <p>
                <button id="login-btn" type="button">Login &gt;</button>
            </p>
        </fieldset>
    </form>
</div>
{{template "footer" dict "js" $js}}
{{end}}
