{{define "manage"}}
{{template "header" dict "css" (list "manage") "main" .}}
<div class="manager">
    <form>
        <input type="hidden" name="username" value="{{.Username}}">
        <div class="info">
            <span class="text-label">Username:</span>
            <span class="username">{{.Username}}</span>
        </div>
        <div class="controls">
            <button type="button" name="add-device-btn" {{if .IsAdmin}}data-admin="1"{{end}}>Add New Device</button>
            {{if gt (len .Devices) 0}}
            <button type="button" name="del-selected-btn">Delete Selected</button>
            <button type="button" name="del-all-btn">Delete All</button>
            {{end}}
            {{if .IsAdmin}}
            <button type="button" name="admin-btn">Admin Dashboard</button>
            {{end}}
            <button type="button" name="logout-btn">Logout</button>
        </div>
        {{if eq (len .Devices) 0}}
        <div class="no-devices">No devices registered</div>
        {{else}}
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>MAC Address</th>
                <th class="ua">User Agent</th>
                <th>Platform</th>
                <th>Date Registered</th>
                <th>Registered From</th>
            </tr>
            {{range .Devices}}
            <tr>
                <td><input type="checkbox" value="{{.MAC}}" class="device-select"></td>
                <td>{{.MAC}}</td>
                <td class="ua">{{.UserAgent}}</td>
                <td>{{.Platform}}</td>
                <td>{{.DateRegistered}}</td>
                <td>{{.RegIP}}</td>
            </tr>
            {{end}}
        </table>
        {{end}}
    </form>
</div>
{{template "footer" dict "js" (list "manage")}}
{{end}}
