{{define "manage"}}
{{template "header" dict "css" (list "device-list" "manage") "main" . "pageTitle" "Device Management"}}
<div class="manager">
    <form>
        <input type="hidden" name="username" value="{{.sessionUser.Username}}">
        <div class="user-info">
            <section>
                <span class="text-label">Username:</span>
                <span class="username">{{.sessionUser.Username}}</span>
                {{if .sessionUser.IsBlacklisted}}<span class="blacklist-icon">Blacklisted</span>{{end}}
            </section>
            <section>
                <span class="text-label"># of Devices:</span>
                <span class="username">{{len .devices}}</span>
            </section>
        </div>
        <div class="controls">
            <section>
                {{if .showAddBtn}}
                <button type="button" name="add-device-btn">Add New Device</button>
                {{end}}
                {{if and .canDeleteDevice (gt (len .devices) 0)}}
                <button type="button" name="del-selected-btn">Delete Selected</button>
                <button type="button" name="del-all-btn">Delete All</button>
                {{end}}
                <a href="/logout" class="btn">Logout</a>
            </section>
        </div>
    </form>

    {{template "device-list" dict "main" $}}
</div>
{{template "footer" dict "main" $ "js" (list "manage")}}
{{end}}
