{{define "manage"}}
{{$css := list "manage"}}
{{$js := list "manage"}}
{{template "header" dict "css" $css "title" .SiteTitle "companyName" .CompanyName}}
<div id="flashDiv" class="flash">
    <div id="flashText">
    </div>
</div>
<div class="manager">
    <form>
        <div class="controls">
            <button type="button" name="add-device-btn">Add New Device</button>
            {{if gt (len .Devices) 0}}
            <button type="button" name="del-selected-btn">Delete Selected</button>
            <button type="button" name="del-all-btn">Delete All</button>
            {{end}}
        </div>
        {{if eq (len .Devices) 0}}
        <div class="no-devices">No devices registered</div>
        {{else}}
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>MAC Address</th>
                <th>User Agent</th>
                <th>Platform</th>
                <th>Date Registered</th>
                <th>Registered From</th>
            </tr>
            {{range .Devices}}
            <tr>
                <td><input type="checkbox" value="{{.MAC}}" class="device-select"></td>
                <td>{{.MAC}}</td>
                <td>{{.UA}}</td>
                <td>{{.Platform}}</td>
                <td>{{.DateRegistered}}</td>
                <td>{{.IP}}</td>
            </tr>
            {{end}}
        </table>
        {{end}}
    </form>
</div>
{{template "footer" dict "js" $js}}
{{end}}
