{{define "register"}}
{{template "header" dict "css" (list "register") "main" .}}
<div id="suc-msg-auto" class="success-message">
    <p class="instructions">
        Please disconnect your computer from the network for 1 minute and then reconnect.
    </p>
</div>

<div id="suc-msg-manual" class="success-message">
    <p class="instructions">
        Redirecting to management page...
    </p>
</div>

<div class="register-box">
    <form>
        <fieldset>
            {{if eq .Type "na-auto"}}
                {{template "reg-non-admin-auto" .}}
            {{else if eq .Type "na-man"}}
                {{template "reg-non-admin-man" .}}
            {{else if eq .Type "na-man-nologin"}}
                {{template "reg-non-admin-nologin-man" .}}
            {{else if eq .Type "admin"}}
                {{template "reg-admin-man" .}}
            {{end}}
        </fieldset>

        <div class="reg-policy">
            <p class="instructions">
                Please read the policy below and click "Register":
            </p>
            {{range .Policy}}
            <p>{{.}}</p>
            {{end}}
        </div>

        <p class="reg-btn">
            <button id="register-btn" type="button">Register &gt;</button>
        </p>
    </form>
</div>
{{template "footer" dict "js" (list "register")}}
{{end}}
