{{define "register"}}
{{template "header" dict "css" (list "register") "title" .SiteTitle "companyName" .CompanyName}}
<div id="flashDiv" class="flash">
    <div id="flashText">
    </div>
</div>

<div id="suc-msg-auto" class="success-message">
    <p class="instructions">
        Please disconnect your computer from the network for 1 minute and then reconnect.
    </p>
</div>

<div id="suc-msg-manual" class="success-message">
    <p class="instructions">
        Redirecting to management page...
    </p>
</div>

<div class="register-box">
    <form>
        <fieldset>
            {{if .Manual}}
            <p>
                <label for="mac-address">MAC Address:</label>
                <input type="text" name="mac-address" autofocus="autofocus">
            </p>
            {{end}}
            {{if .ShowLoginForm}}
            <p>
                <label for="username">Username:</label>
                {{if .Manual}}
                <input type="text" name="username">
                {{else}}
                <input type="text" name="username" autofocus="autofocus">
                {{end}}
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </p>
            {{end}}
        </fieldset>

        <div class="reg-policy">
            <p class="instructions">
                Please read the policy below and click "Register":
            </p>
            {{range .Policy}}
            <p>{{.}}</p>
            {{end}}
        </div>

        <p class="reg-btn">
            <button id="register-btn" type="button">Register &gt;</button>
        </p>
    </form>
</div>
{{template "footer" dict "js" (list "register")}}
{{end}}
