{{define "register"}}
{{$css := list "register"}}
{{$js := list "register"}}
{{template "header" dict "css" $css "title" .SiteTitle "companyName" .CompanyName}}
<div id="flashDiv" class="flash">
    <div id="flashText">
    </div>
</div>

<div class="success-message">
    <p class="instructions">
        Please disconnect your computer from the network for 1 minute and then reconnect.
    </p>
</div>

<div class="register-box">
    <form>
        <fieldset>
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" autofocus="autofocus">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </p>
        </fieldset>

        <div class="reg-policy">
            <p class="instructions">
                Please read the policy below and click "Register":
            </p>
            {{range .Policy}}
            <p>{{.}}</p>
            {{end}}
        </div>

        <p class="reg-btn">
            <button id="register-btn" type="button">Register &gt;</button>
        </p>
    </form>
</div>
{{template "footer" dict "js" $js}}
{{end}}
